*{ box-sizing: border-box;}
#wrapper {background-color :#000033;
          margin-left: auto;
          margin-right: auto;
          min-width: 700px;
          max-width: 1024px;
          width: 80%;
      box-shadow: 5px 5px 5px;}
body{ background-color: #3399cc;
      background-image: linear-gradient(to bottom, #3399cc, #c2e0f0, 
      #3399cc);
      color: #666666 ;
      font-family:"Veranda",sans-serif;}
header{ background-color: #000033;
        color: #ffffff;
        font-family:"New Times Roman", serif ;}
 h1{ line-height:  200%;
      background-image: url(sunset.jpg);
       background-position: right;
      background-repeat: no-repeat;
      padding-left: 2em; height: 72px;  
      margin-bottom: 0;}
 nav{ font-weight: bold;
     float: left;width: 160px;padding: 0%;}
nav a{ text-decoration: none;}
nav a:link{ color: #ffffff;}
nav a:visited{color: #c2e0f0;}
nav a:hover{color: #cccccc;}
    nav ul{list-style-type: none;padding: 1em; }
 h2{ color: #3399cc;
     font-family:"New Times Roman",serif;}
video, embed {float: right; margin: 2em;}
 dt { color: #000033; 
      font-weight : bold; }
.resort{color: #000033;
        font-size: 1.2em;}
footer{ font-size: .70em;font-style: italic; text-align:center;
         padding:  1em;background-color: #ffffff;margin-left: 170px;}
h3{ color: #000033;}
main{background-color: #ffffff;margin-left: 170px; 
     padding-top: 1px;padding-bottom: 1px;
     padding-left: 2em;padding-right: 2em;}
     .leftfloat{float: left; margin: 1em;}
     .clear{ clear: both;} 
.homehero { height: 300px;background-image: url(coast.jpg);
            background-size: 100% 100%;background-repeat: no-repeat;
            margin-left: 170px;}
.trailhero{ height: 300px;background-image: url(trail.jpg);
            background-size: 100% 100%;background-repeat: no-repeat;
            margin-left: 170px;}
.yurthero{ height: 300px;background-image: url(yurt.jpg);
           background-size: 100% 100%;background-repeat: no-repeat;
           margin-left: 170px;}
table{margin: auto;border: 1px solid #3399cc; width: 90%;
      border-collapse: collapse;}
    td, th{ padding: 5px; border: 1px solid #3399cc; margin: auto;} 
    td{text-align: center;} 
    .text{text-align: left;}
    tr:nth-of-type(even){background-color: #f5fafc;}
    
label{ float: left ;display: block; width: 8em ;padding-right: 1em;}
input{ display: block;margin-bottom: 1em;} 
textarea { display: block;margin-bottom: 1em;}
#mySubmit{ margin-left: 10em;}

#mobile{display: none;}
#desktop{display: inline;}
header, main,nav, footer{ display: block;}
@media only screen and  (max-width: 1024px){
     body{ margin: 0; padding: 0; background-image:none; }
     #wrapper{ width: auto;min-width: 0;margin: 0;box-shadow: none;}
     h1{margin: 0;}
     nav{float: none;width: auto;padding-top: 0.01em;padding-bottom: 0.01em;
         padding-left: 1em;padding-right: 1em;}
         nav li{display: inline-block;}
         nav a{padding-right: 2em;}
      main{padding: 1em;margin-left: 0;font-size: 90%;}
      footer{margin: 0;}
      .homehero{margin-left: 0;}
      .yurthero{margin-left: 0;}
      .trailhero{margin-left: 0;}
 }
 @media only all and (max-width:768px){
     h1{height: 100%;font-size: 1.5em;padding-left: 0.3em;}
     nav{padding: 0;}
         nav a{display: block;padding: 0.2em;font-size: 1.1em;border-bottom: 1px;
           border-color: #330000;}
         nav ul{margin: 0; padding: 0;}
         nav li{display: block;margin: 0;padding: 0;}
     main{padding-top: 0.1em;padding-right: 0.6em;padding-bottom: 0.1em;padding-left: 0.4em;}
     .homehero{display:none;}
     .yurthero{display:none;}
     .trailhero{display:none;}
     footer{padding: 0;}
     #mobile{display: inline;}
     #desktop{display:none;}
}
